<footer class="site-footer">
  <div class="wrapper">
     <div class="contact-list">
        {% if site.email %}
          <li class="contact-list-mail"><a href="mailto:{{ site.email }}">email</a></li>
        {% endif %}
                
        {% if site.github_username %}
          <li class="contact-list-github"><a href="http://github.com/{{site.github_username}}" target="_blank">github</a></li>
        {% else %}
          <li class="contact-list-github"><a href="http://github.com/rubentr" target="_blank">github</a></li>
        {% endif %}

        {% if site.twitter_username %}
          <li class="contact-list-twitter"><a href="https://twitter.com/{{site.twitter_username}}" target="_blank">twitter</a></li>
        {% else %}
          <li class="contact-list-twitter"><a href="https://twitter.com/rubentobalina" target="_blank">twitter</a></li>
        {% endif %}

	{% if site.Soundcloud_userID %}
          <li class="contact-list-soundcloud"><a href="http://souncloud.com/{{site.Soundcloud_userID}}" target="_blank">soundcloud</a></li>
        {% else %}
          <li class="contact-list-soundcloud"><a href="https://soundcloud.com/user-516707540" target="_blank">soundcloud</a></li>
        {% endif %}

          <li class="contact-list-youtube"><a href="https://www.youtube.com/channel/UCLv674wSn2MV7GTM87SDVnA" target="_blank">youtube</a></li>
     
      </div>
   </div>
</footer>
