<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
  <meta name="description" content="anomia live code web" />
  <meta name="keywords" content="live,code,algorithmic,music" />
  <meta name="author" content="rubent" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link href="{{ site.url }}/favicon.ico" rel="shortcut icon" />
  
  <title> {{ page.title }} </title>

  <img class="logo" src="/images/logo-web.png" alt="logo" width="100" height="100">
  
</head>