---
layout: default
---

<div class="home">
  <div class="wrapper">
   <div class="about">
    <p class="about-es"> livecoder musician from Madrid, member of the Live Code MAD group.</p>
   </div>
  <div class="gigs">
   <div class="gigs-list">     
     <h1>-- Live</h1>
     <h2>upcoming</h2>
        <li>Void</li>
     <h2>past</h2>
      	<li>may 2017. Algorave, Café La Palma, Madrid.</li>
	<li>april 2017. Algorave, Embajada de Italia, Madrid</li>
	<li>november 2016. Algorave RandomAnimals, La Imperdible, Madrid.</li>
	<li>august 2016. Algorave RandomBitches, La Imperdible, Madrid.</li>
	<li>march 2016. III Encuentro de Diseño y Cultura Digital (EDCD), Medialab-Prado, Madrid.</li>
   </div>
  </div>
 </div>
</div>
